<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.news_wiki">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Searchify"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.project.news_wiki.SearchActivity"
            android:exported="false"
            android:parentActivityName="com.project.news_wiki.NewsWikiMain"/>
        <activity
            android:name="com.project.news_wiki.NewsWikiMain"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--   TODO: remove this meta data when uploading the code to GitHub     -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9373632721279412~4275632255"/>
    </application>

</manifest>